/*Start Main tags header + body*/

.index-text{
    padding-top: 2%;
    text-align: center;
    width: 30%;
    display: flex;
    align-items: center;
    margin: auto;
}
.index-text2{
    padding-top: 1%;
    text-align: center;
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 1%;
}
.index-button{
    display: flex;
    align-items: center;
    margin:auto;
}

.test32{
    height: 22vb;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-container i {
    font-size: 30px;
    color: green;
    margin-right: 10px;
}

.sitename {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 0;
}

nav {
    flex-grow: 1;
}

.ul-header {
    display: flex;
    justify-content: center;
    gap: 3%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-header-elem {
    text-decoration: none;
    font-size: 18px;
    color: #808080;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ul-header-elem:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 60px;
        right: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #060606;
        width: 200px;
        padding: 10px 0;
        border-radius: 5px;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .ul-header {
        flex-direction: column;
        gap: 10px;
    }

    .ul-header li {
        width: 100%;
        text-align: center;
    }
    body.dark-mode nav{
        background-color: white;
    }
}
footer {
    margin-top: 8%;
    text-align: center;
    background-color: black;
}
body.dark-mode footer{
    background-color: white;
}
body.dark-mode footer p{
    color: black;
}
body.dark-mode .social-icons a{
    color: black;
}
body.dark-mode .social-icons a:hover {
    color: #007BFF;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #333;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

.social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007BFF;
}

footer p {
    margin: 5px 0;
    color: white;
}

#current{
    color: white;
}
#theme-toggle {
    font-size: 24px;
    cursor: pointer; 
    color: white; 
    transition: color 0.3s;
}
#theme-toggle:hover {
    color: #f0e68c;
}

/*dark-mode*/
body.dark-mode #theme-toggle:hover {
    color: #808080; 
}
body.dark-mode #theme-toggle.fa-sun {
    color: black;
}
body.dark-mode .ul-header-elem:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
body.dark-mode #current{
    color: black;
}
body.dark-mode #clock {
    font-size: 48px;
    font-weight: bold;
    color: black;
}
body.dark-mode .sitename{
    color: black;
}
body.dark-mode .menu-toggle{
    color: black;
}
body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body.dark-mode {
    background-color: white;
    color: black;
}
.h1-title{
    font-size: 25px;
    font-weight: bold;
}
.h2-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}
.text-after-title{
    font-size: 15px;
    text-align: center;
    width: 65%;
    margin-bottom: 2%;
}
@media (max-width: 768px) {
    .text-after-title{
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-bottom: 5%;
    }
    .h1-title{
        font-size: 23px;
        font-weight: bold;
    }
    .h2-title{
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 4%;
        text-align: center;
    }
}
/*End Main tags header + body*/

/*Start About page*/
.about-main-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.about-info-block{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}
.about-info-right{
    width: 38%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 15px;
}
.about-info-text{
    font-size: 16px;
    margin-bottom: 5%;
    text-align: justify;
    font-size: 15px;
}
@media (max-width: 768px) {
    .about-main-section {
        width: 100%;
        margin-bottom: 10%;
    }
    .about-info-block {
        flex-direction: column;
        align-items: center;
    }
    .about-table {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10%;
        gap: 4%;
    }
    .about-info-right {
        width: 90%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 14px;
    }
    .about-info-text {
        font-size: 14px;
        margin-bottom: 8%;
        text-align: justify;
    }
    .about-photo-item{
        width: 90%;
    }
    .about-photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*End About page*/

/*Start Resume page*/
.resume-tabele{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    gap: 4%;
    font-size: 15px;
}
.resume-tabele2{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    gap: 20%;
    font-size: 15px;
}
.resume-main-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.gapp{
    height: 150px;
}
#clock {
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.clocks{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-sec-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    .resume-tabele{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        gap: 4%;
        font-size: 15px;
    }
    .resume-main-section{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
/*Contacts*/

.form-container {
    max-width: 600px;
    margin: auto;
    background: #1e1e1e; /* Тёмный фон формы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Тень */
}

.form-group {
    margin-bottom: 15px;
}

.contact-title{
    color: #ffffff;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e0e0e0;
}

/*dark mode*/
body.dark-mode label{
    color: black;
}
body.dark-mode .contact-title{
    color: black;
}
body.dark-mode input, select {
    background-color: #8d8d8d;
    color: #292929;
}
body.dark-mode .form-container {
    background: #bababa;
}
body.dark-mode input::placeholder {
    color: #393939;
}
/*dark mode*/

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #292929;
    color: #e0e0e0;
}
input::placeholder {
    color: #888;
}
.contact-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #0056b3;
}

.contact-button:active {
    background-color: #003f7f;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.output-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.output-title {
    color: #ffffff;
    margin-bottom: 10px;
}

.output-container, .average-score-container {
    margin-bottom: 15px;
    line-height: 1.6;
    margin: 5px 0;
}


/*End contacts*/

/*End Resume page*/

/*Start Portfolio page*/
.portfolio-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.photo-item{
    width: 100%;
}
.photos-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin-bottom: 1%;
}
.text-after-title-portfolio{
    
    font-size: 15px;
    text-align: center;
    width: 55%;
    margin-bottom: 2%;
}
@media (max-width: 768px) {
    .portfolio-section{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-item{
        width: 100%;
        margin-bottom: 5%;
    }
    .photos-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1%;
        margin-bottom: 1%;
    }
    .text-after-title-portfolio{
        
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-bottom: 6%;
    }
}/*End Portfolio page*/